.loader {
  outline: 5px solid transparent;
  margin: auto;
  aspect-ratio: 1 / 1;
  width: 100px;
  border-radius: 50%;
  border: 20px dotted #c3c0bb;
  animation: loader-rotation 2s infinite ease-out;
}

@keyframes loader-rotation {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.5);
  }
}
