.errorBoundaryGeneral {
  grid-area: main;
  color: var(--font-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.reset {
  cursor: pointer;
  text-decoration: underline;
}
