.yearItem {
  position: relative;
  display: flex;
  flex-direction: row;
}

.yearItem:not(:first-child) {
  border-top: 1px solid var(--gray);
}

.title {
  top: 0;
  position: absolute;
  padding-top: 40px;
}

.trips {
  margin-left: 200px;
  width: 100%;
}
