::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #9b9b9b;
  transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}
