.tripItem {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  gap: 30px;
  padding-top: 40px;
  opacity: 0.8;
  transition: opacity 0.3s ease-out;
}

.tripItem:hover {
  opacity: 1;
}

.tripItem:not(:first-child) {
  border-top: 1px solid var(--gray);
}

.description {
  color: var(--red);
  pointer-events: none;
}

.no_events {
  pointer-events: none;
}

.preview {
  position: absolute;
  top: 50%;
  left: 75%;
}
