.tab {
  position: relative;
}

.text {
  transition: transform 0.1s ease-out;
}

.text:hover {
  font-weight: 600;
  letter-spacing: -0.007rem;
}

.text:active {
  transform: scale(1.05);
}

.text_active {
  font-weight: 600;
  letter-spacing: -0.007rem;
  pointer-events: none;
}

.highlight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
