.image {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.img {
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.icon {
  position: absolute;
  bottom: 5px;
  left: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.icon:active {
  opacity: 1;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}
